# Application settings
DB_PATH=data/hr-sorter.db
HTTP_PORT=3000
HEADLESS=true
CSRF_SECRET=your_32_chars_secret_here

# HeadHunter API credentials
HH_CLIENT_ID=HIOMIAS39CA9DICTA7JIO64LQKQJF5AGIK74G9ITJKLNEDAOH5FHS5G1JI7FOEGD
HH_CLIENT_SECRET=V9M870DE342BGHFRUJ5FTCGCUA1482AN0DI8C5TFI9ULMA89H10N60NOP8I4JMVS

# Optional: Skip browser download on startup if already installed in Docker
PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD=1
